:ruby
  def self.get_initial_state(props) = {
    result: nil,
    error: nil,
  }

  def mount
    id = props.dig(:params, :id).to_i
    res = helpers.fetch("https://pokeapi.co/api/v2/pokemon/#{id}/")
    result = res.json(symbolize_names: true)
    update(result:)
  rescue => e
    update(error: e.message)
  end

:ruby
  pokemon = state[:result]

- return unless pokemon
  %p Loading pokémon #{props.inspect}

%article
  %h1= pokemon[:name]
  %img{src: pokemon.dig(:sprites, :front_default)}
  %dl
    %dt Weight
    %dd= pokemon[:weight]
    %dt Base experience
    %dd= pokemon[:base_experience]
