:ruby
  Icon = import("/app/components/UI/Icon")
  Name = import("./Name")
  FileEntry = import("./FileEntry")

  def self.get_initial_state(initial_open: false, **) = {
    open: initial_open,
    entries: nil,
  }

  def mount
    if state[:open]
      update(entries: load_entries)
    end
  end

  def should_update?(next_props, next_state)
    state[:open] != next_state[:open]
  end

  def handle_toggle(_)
    update do |state|
      open = !state[:open]
      entries = state[:entries] || (open && load_entries)
      { open:, entries: }
    end
  end

  private

  def load_entries
    props => { root:, path: }

    entries =
      Dir
        .entries(File.join(root, path))
        .difference(%w[. ..])
        .sort
        .map { File.join(path, _1) }
        .group_by { File.directory?(File.join(root, _1)) }

    {
      directories: entries[true] || [],
      files: entries[false] || [],
    }
  end
:css
  li {
    margin: 0;
    padding: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    margin-left: 1em;
    padding: 0;
  }

  button {
    all: unset;
  }

  button:hover {
    text-decoration: underline;
    cursor: pointer;
  }
:ruby
  icon = state[:open] ? "folder-open" : "folder"

%div
  %Name(icon=icon color="var(--blue)")
    %button(type="button" onclick=handle_toggle)
      #{File.basename(props[:path])}/

  = if state[:open]
    = if entries = state[:entries]
      %ul
        = entries[:directories]&.map do |path|
          %li(key=path)
            = Mayu::VDOM.h(self.class, root: props[:root], path:)
        = entries[:files]&.map do |path|
          %li(key=path)
            %FileEntry{path:}
