:ruby
  Highlight = import("/components/UI/Highlight")

  ALLOWED_EXTENSIONS = %w[.rb .css .haml]

:css
  .article {
  }

  .path {
    font-family: monospace;
    font-size: 1em;
    margin: 0;
  }

  .pre {
    white-space: pre-wrap;
    font-size: 1em;
    background: var(--blue-bright);
    border: 1px solid var(--blue);
    border-radius: 2px;
    padding: 1em;
  }

- return unless $path
  %p Please choose a file

- full_path = File.expand_path($path, "/")

- return unless full_path.start_with?("/app/")
  %p #{full_path} is not valid

- absolute_path = File.join($root, full_path)
- basename = File.basename(full_path)

- return unless File.file?(absolute_path)
  %p #{basename} is not a file

- extname = File.extname(basename)
- return unless ALLOWED_EXTENSIONS.include?(extname)
  %p #{full_path} is not a #{ALLOWED_EXTENSIONS.join("/")}-file

:ruby
  source = File.read(absolute_path)
  language = extname.delete_prefix(".").to_sym

%article.article
  %h3.path= full_path
  %Highlight(language=language)= source
