:ruby
  Highlight = import("/app/components/Layout/Highlight")

  translations("en-US", "sv-SE")

  ALLOWED_EXTENSIONS = %w[.rb .css .haml]

:css
  .article {
  }

  .path {
    font-family: monospace;
    font-size: 1em;
    margin: 0;
  }

  .pre {
    white-space: pre-wrap;
    font-size: 1em;
    background: var(--blue-bright);
    border: 1px solid var(--blue);
    border-radius: 2px;
    padding: 1em;
  }

:ruby
- props => { root:, path: }

- return unless path
  %p= t(:please_choose_a_file)

- path = File.expand_path(path, "/")

- return unless path.start_with?("/app/")
  %p= t(:invalid_path, path:)

- absolute_path = File.join(root, path)
- basename = File.basename(path)

- return unless File.file?(absolute_path)
  %p= t(:path_is_not_a_file, path:)

- extname = File.extname(basename)
- return unless ALLOWED_EXTENSIONS.include?(extname)
  %p= t(:unallowed_extension, path:, extensions: ALLOWED_EXTENSIONS.join("/"))

:ruby
  source = File.read(absolute_path)
  language = extname.delete_prefix(".").to_sym

%article.article
  %h3.path= path
  %Highlight(language=language)= source
