:ruby
  ALLOWED_EXTENSIONS = %w[.rb .css .rux .haml]

:css
  .article {
  }

  .path {
    font-family: monospace;
    font-size: 1em;
    margin: 0;
  }

  .pre {
    white-space: pre-wrap;
    font-size: 1em;
    background: var(--blue-bright);
    border: 1px solid var(--blue);
    border-radius: 2px;
    padding: 1em;
  }

:ruby
- props => { root:, path: }

- unless path
  - return
    %p Please choose a file

- path = File.expand_path(path, "/")

- unless path.start_with?("/app/")
  - return
    %p #{path} is not valid

- absolute_path = File.join(root, path)
- basename = File.basename(path)

- unless File.file?(absolute_path)
  - return
    %p #{basename} is not a file

- extname = File.extname(basename)
- unless ALLOWED_EXTENSIONS.include?(extname)
  - return
    %p #{path} is not a #{ALLOWED_EXTENSIONS.join("/")}-file

%article.article
  %h3.path= path
  %pre.pre= File.read(absolute_path)
