:ruby
  Heading = import("/app/components/Layout/Heading")
  T = translations("sv-SE", "en-US")

  def lang
    helpers.get_accepted_language(T.keys)
  end

  def t(*path, **replacements)
    value = T.fetch(lang) { raise "No translations!" }.dig(*path)
    return "Missing translation for #{lang} at #{path.join(".")}!" unless value
    p(lang:, value:, replacements:)
    format(value, replacements)
  end

%article(lang=lang)
  %Heading(level=1)= t(:title)

  %p= t(:body)
  %p= t(:current_language, lang:)
