:ruby
  Heading = import("/app/components/Layout/Heading")

  translations("sv-SE", "en-US")

  def handle_set_language(e)
    e => { target: { value: } }
    helpers.set_prefer_language(value)
  end

%article(lang=lang)
  %Heading(level=1)= t(:title)

  %p= t(:body)
  %p= t(:current_language, lang:)
  %div
    = self.class.loaded_translations.keys.map do |language|
      %button(onclick=handle_set_language value=language)= language
