:ruby
  def initialize
    @result = nil
    @error = nil
  end

  def mount
    @result =
      fetch("https://pokeapi.co/api/v2/pokemon/#{$id}")
      .json(symbolize_names: true)
  rescue => e
    @error = e.message
  end

%div
  = if @error
    %p.error= @error
  = elsif @result
    %pre= JSON.pretty_generate(@result)
  = else
    %p Loading Pokémon with id #{$id}…
