:ruby
  Heading = import("/app/components/Layout/Heading")
  Button = import("/app/components/Form/Button")
  Ellipsis = import("./Ellipsis")

  def self.get_initial_state(**) = {
    stats: GC.stat,
    objcount: ObjectSpace.count_objects,
  }

  def handle_refresh =
    update(Self.get_initial_state)

  # def mount =
  #   loop do
  #     sleep 1
  #     update(Self.get_initial_state)
  #   end

%article
  %Heading(level=2)
    GC Stats
  %p
    %Button(onclick=handle_refresh)
      Refresh
    %a(href="https://docs.ruby-lang.org/en/master/GC.html#method-c-stat" target="_blank")
      Documentation for these values
  .flex
    - state => { stats:, objcount: }
    = stats.each_slice(stats.size.succ / 3).with_index.map do |slice, i|
      %table[slice, i]
        %tbody
          = slice.map do |key, value|
            %tr
              %th
                %Ellipsis= key.to_s
              %td= value.to_s
    %table
      %tbody
        = objcount.map do |key, value|
          %tr[key]
            %th= key.to_s
            %td= value.to_s
:css
  .flex {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 1em;
  }

  table {
    flex: 1 0 20em;
    font-size: .8em;
    border: 1px solid #0003;
    border-radius: 2px;
    border-spacing: 1px;
  }

  .key {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
  }

  th {
    text-align: left;
    width: 100%;
  }
  td {
    text-align: right;
  }
  th, td {
    border: 1px solid #0003;
    border-radius: 2px;
    padding: .5em;
  }

  p {
    gap: 1em;
    display: flex;
    align-items: center;
  }
